﻿@page "/createCheckListTemplate/{id:guid?}"
@using Checklists.Shared.Models
@using Checklists.Shared.Services
@using Checklists.Shared.ViewModels
@using System.Text.Json
@using System.Diagnostics
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject ICheckListsApi checkListsApi
@inject ILogger<CreateCheckListTemplate> logger
@inject ISnackbar Snackbar
<PageTitle>@(id is null ? "Create" : "Edit") Check List</PageTitle>

@if (isTemplate ?? false)
{
    <MudText Typo="Typo.h3" GutterBottom="true">@(id is null ? "Create" : "Edit") Check List '@checkList.Name'</MudText>
    <MudText Class="mb-8">Edit a check list template by creating check list items and setting default values.</MudText>
}
else
{
    <MudText Typo="Typo.h3" GutterBottom="true">Fill Check List '@checkList.Name'</MudText>
    <MudText Class="mb-8">Fill a check list from a template.</MudText>
}

<MudText Class="mb-4">Created: @(checkList.Created.HasValue ? checkList.Created.Value.ToString("dd/MM/yyyy HH:mm:ss") : "None") </MudText>
<MudText Class="mb-4">Last modified: @(checkList.Modified.HasValue ? checkList.Modified.Value.ToString("dd/MM/yyyy HH:mm:ss") : "None") </MudText>

<MudPaper Class="mb-4 pa-4">

    <MudTextField @bind-Value="checkList.Name" Label="Check List Name" Variant="Variant.Outlined"></MudTextField>

    <MudToolBar>
        <MudSpacer />
        <MudButton Class="mr-4" Color="Color.Success" Variant="Variant.Filled" @onclick="Save"><MudIcon Class="mr-3" Icon="@Icons.Material.Outlined.Save" />Save</MudButton>
        @if (!isTemplate ?? false)
        {
            <MudButton Class="mr-4" Color="Color.Success" Variant="Variant.Filled" @onclick="() => SaveAndSend()"><MudIcon Class="mr-3" Icon="@Icons.Material.Outlined.Send" />Save and Send</MudButton>
        }
        <MudButton Class="mr-4" Color="Color.Error" Variant="Variant.Filled" @onclick="Cancel"><MudIcon Class="mr-3" Icon="@Icons.Material.Outlined.Cancel" />Cancel</MudButton>

    </MudToolBar>
</MudPaper>

<MudCard Class="mb-4 pa-4">
    @if (isTemplate ?? false)
    {
        <MudButton Class="mr-4" Color="Color.Info" Variant="Variant.Filled" @onclick="() => AddChildItem()"><MudIcon Class="mr-3" Icon="@Icons.Material.Outlined.Add" />Add Item</MudButton>
    }
    <MudTreeView Class="" Items="@checkList.CheckListItems" Dense=true>
        <ItemTemplate>
            <MudTreeViewItem @bind-Expanded="@context.IsExpanded" Items="@context.ChildCheckListItems">
                <Content>
                    <MudTreeViewItemToggleButton @bind-Expanded="@context.IsExpanded" Visible="@context.HasChild" />
                    @if (isTemplate ?? false)
                    {
                        <MudIconButton Class="mr-6" Icon="@Icons.Material.Outlined.Add" @onclick="() => AddChildItem(context)" />
                        <MudIconButton Class="mr-6" Icon="@Icons.Material.Outlined.Remove" @onclick="() => RemoveThisItem(context)" />
                    }
                    <MudCheckBox Class="mr-4" @bind-Checked="context.Checked"></MudCheckBox>
                    <MudTextField Class="mr-6" @bind-Value="context.Name" Label="Name" Variant="Variant.Text" Disabled="!isTemplate ?? false"></MudTextField>
                    <MudTextField @bind-Value="context.Notes" Label="Notes" Variant="Variant.Text"></MudTextField>
                </Content>
            </MudTreeViewItem>
        </ItemTemplate>
    </MudTreeView>
</MudCard>

@if (!isTemplate ?? false)
{
    <MudCard Class="mb-4 pa-4">
        <MudText Class="ml-2">Signed by:</MudText>

        @foreach (var signBy in checkList.SignedBy)
        {
            <MudChip Class="ma-2" Color="Color.Primary" OnClose="RemoveSignBy" Text="@signBy"></MudChip>
        }

        <div class="d-flex">
            <MudTextField Class="flex-grow-1 ma-2" @bind-Value="newSignBy" Label="Signed By" Variant="Variant.Text"></MudTextField>
            <MudTooltip Text="Add">
                <MudFab Class="ma-2" Icon="@Icons.Material.Outlined.NewLabel" Color="Color.Primary" @onclick="AddNewSignBy" />
            </MudTooltip>
        </div>
    </MudCard>
}

@code {
    [Parameter]
    public Guid? id { get; set; }

    [Parameter, SupplyParameterFromQuery]
    public bool? isTemplate { get; set; }

    [Parameter, SupplyParameterFromQuery]
    public bool? isNewCopy { get; set; }

    [Parameter, SupplyParameterFromQuery]
    public bool fromTemplate { get; set; }

    private CheckListViewModel checkList = new CheckListViewModel();

    private string newSignBy { get; set; } = "";

    public CreateCheckListTemplate()
    {
        checkList.CheckListItems.Add(new CheckListItem { Name = "Top1", ChildCheckListItems = new HashSet<CheckListItem> { new CheckListItem { Name = "Child1" } } });
        checkList.CheckListItems.Add(new CheckListItem { Name = "Top2" });
    }

    protected override void OnInitialized()
    {
        logger.LogInformation($"Bound query parameters isTemplate: {isTemplate} isNewCopy: {isNewCopy}");

        isTemplate ??= true;
        isNewCopy ??= false;

        logger.LogInformation($"Proceeding with isTemplate: {isTemplate} isNewCopy: {isNewCopy} fromTemplate: {fromTemplate}");
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (!id.HasValue)
        {
            return;
        }


        logger.LogInformation("Getting checklist {Id} from {Location}", id.Value, fromTemplate ? "template" : "filled");

        var result = fromTemplate switch
        {
            true => await checkListsApi.GetCheckList(id.Value),
            false => await checkListsApi.GetFilledCheckList(id.Value)
        };

        if (!result.IsSuccessStatusCode || result.Content is null)
        {
            Snackbar.Add($"Failed to load check list {checkList.Name}.", Severity.Error);
            return;
        }

        checkList = result.Content;

        if (isNewCopy ?? false)
        {
            checkList.Id = Guid.Empty;
            checkList.Created = null;
            checkList.Modified = null;
        }

    }

    private void AddNewSignBy()
    {
        if (string.IsNullOrWhiteSpace(newSignBy))
            return;

        checkList.SignedBy.Add(newSignBy);
        newSignBy = "";
    }

    private void RemoveSignBy(MudChip chip)
    {
        logger.LogInformation("Removing signature of {Signature}", chip.Text);
        checkList.SignedBy.Remove(chip.Text);
    }

    private void AddChildItem(CheckListItem? parent = null)
    {
        if (parent is null)
            checkList.CheckListItems.Add(new CheckListItem());
        else
            parent.ChildCheckListItems.Add(new CheckListItem());
    }

    private void RemoveThisItem(CheckListItem item)
    {
        // Starting at the top level check lists, try and remove the item recursively
        var success = RecursivelyRemoveItemFromItems(checkList.CheckListItems, item);
        Debug.Assert(success);

        bool RecursivelyRemoveItemFromItems(HashSet<CheckListItem> checkListItemsToCheck, CheckListItem itemToRemove)
        {
            if (checkListItemsToCheck.TryGetValue(itemToRemove, out var _))
            {
                checkListItemsToCheck.Remove(itemToRemove);
                return true;
            }

            foreach (var checkListItem in checkListItemsToCheck)
            {
                if (RecursivelyRemoveItemFromItems(checkListItem.ChildCheckListItems, itemToRemove))
                    return true;
            }

            return false;
        }
    }


    private async Task<bool> Save()
    {
        var Json = JsonSerializer.Serialize(checkList);

        logger.LogInformation("Saving check list as: {Json}", Json);

        var result = isTemplate ?? false
            ? await checkListsApi.SaveCheckList(checkList)
            : await checkListsApi.SaveFilledCheckList(checkList);


        if (result.IsSuccessStatusCode)
        {
            logger.LogInformation("Successfully saved check list {Name} as {SavedId}", checkList.Name, result.Content);
            Snackbar.Add($"Successfully saved check list {checkList.Name}", Severity.Success);

            if (isTemplate ?? false)
                NavigationManager.NavigateTo("/listCheckListTemplates", false);
            else
                NavigationManager.NavigateTo("/listFilledCheckLists", false);

            return true;
        }
        else
        {
            Snackbar.Add($"Failed to save check list {checkList.Name}", Severity.Error);

            logger.LogError("Failed to save check list {Name} status {Status}", checkList.Name, result.StatusCode);
            return false;
        }
    }

    private async Task SaveAndSend()
    {
        var saveResult = await Save();

        if (!saveResult)
            return;

        var result = await checkListsApi.CompleteFilledCheckList(checkList.Id);


        if (result.IsSuccessStatusCode)
        {
            Snackbar.Add($"Successfully sent check list {checkList.Name}.", Severity.Success);
        }
        else
        {
            Snackbar.Add($"Failed to send check list {checkList.Name}.", Severity.Success);

        }
    }

    private void Cancel()
    {
        if (isTemplate ?? false)
            NavigationManager.NavigateTo("/listCheckListTemplates", false);
        else
            NavigationManager.NavigateTo("/listFilledCheckLists", false);
    }
}
