﻿@page "/"

<PageTitle>Check Lists</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Welcome to Check Lists</MudText>
<MudText Class="mb-8">A simple check list app where you can fill in check lists and then send them off! Intended to be used for truck checks.</MudText>
<MudText Class="mb-8">The source code can be found <MudLink Href="https://gitlab.com/dsun_au/check-lists">here</MudLink>.</MudText>
<MudAlert Class="mb-8" Severity="Severity.Warning">This is an experimental project where there are bugs or incomplete implementations.</MudAlert>
<MudAlert Class="mb-8" Severity="Severity.Error">This is a public site with no authentication or security features. Do not put any personal information on here.</MudAlert>
