﻿@page "/listCheckListTemplates"
@using Checklists.Shared.Models
@using Checklists.Shared.Services
@using Checklists.Shared.ViewModels
@using System.Text.Json
@inject NavigationManager NavigationManager
@inject HttpClient Http
@inject ICheckListsApi checkListsApi
@inject ILogger<ListCheckListTemplates> logger
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<PageTitle>Check List Templates</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Check List Templates</MudText>

<MudToolBar>
    <MudSpacer />
    <MudButton Color="Color.Info" Variant="Variant.Filled" @onclick="@(() => NavigationManager.NavigateTo("createCheckListTemplate?isTemplate=true"))">
        <MudIcon Class="mr-2" Icon="@Icons.Material.Outlined.Create"/>Create New Template
    </MudButton>
</MudToolBar>


<MudTable class="pt-6" Items="checkLists" Hover="true" SortLabel="Sort By" Elevation="0" Loading="@loading">
    <HeaderContent>
        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<CheckListViewModel, object?>(x=>x.Name)">Name</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<CheckListViewModel, object?>(x=>x.Created)">Created</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<CheckListViewModel, object?>(x=>x.Modified)">Modified</MudTableSortLabel></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name"><h4>@context.Name</h4></MudTd>
        <MudTd DataLabel="Created">@context.Created</MudTd>
        <MudTd DataLabel="Modified">@context.Modified</MudTd>
        <MudTd DataLabel="Actions">
            <MudButton Class="mr-8" Color="Color.Secondary" Variant="Variant.Filled" @onclick="() => FillFromTemplate(context.Id)">
                <MudIcon Class="mr-2" Icon="@Icons.Material.Outlined.OpenInNew"/>Fill
            </MudButton>
            <MudTooltip Text="Edit">
                <MudButton Color="Color.Primary" Variant="Variant.Filled" @onclick="() => Edit(context.Id)">
                    <MudIcon Icon="@Icons.Material.Outlined.EditNote" />
                </MudButton>
            </MudTooltip>
            <MudTooltip Text="Delete">
                <MudButton Color="Color.Error" Variant="Variant.Filled" @onclick="() => Delete(context)">
                    <MudIcon Icon="@Icons.Material.Outlined.Delete" />
                </MudButton>
            </MudTooltip>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[]{50, 100}" />
    </PagerContent>
</MudTable>



@code {
    private bool loading = true;
    private CheckListViewModel[] checkLists = Array.Empty<CheckListViewModel>();
    public ListCheckListTemplates()
    {

    }


    protected override void OnInitialized()
    {

    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await LoadData();

        loading = false;
    }

    private async Task LoadData()
    {

        var result = await checkListsApi.GetAllCheckLists();

        if (result.IsSuccessStatusCode && result.Content is not null)
        {
            checkLists = result.Content;
        }
    }

    private void Edit(Guid id)
    {
        logger.LogInformation("Editing check list {Id}", id);

        NavigationManager.NavigateTo($"/createCheckListTemplate/{id}?isTemplate=true&isNewCopy=false&fromTemplate=true", false);
    }

    private async Task Delete(CheckListViewModel checkList)
    {
        bool? dialogResult = await DialogService.ShowMessageBox(
            "Warning",
            $"Are you sure you want to delete {checkList.Name}?",
            yesText: "Delete", cancelText: "Cancel");

        if (dialogResult != true)
            return;

        var result = await checkListsApi.DeleteCheckList(checkList.Id);


        if (result.IsSuccessStatusCode)
        {
            Snackbar.Add($"Successfully deleted check list {checkList.Name}", Severity.Success);
            logger.LogInformation("Successfully deleted check list {Id}", result.Content);
        }
        else
        {
            Snackbar.Add($"Failed to delete check list {checkList.Name}", Severity.Error);
            logger.LogError("Failed to delete check list {Id} status {Status}", checkList.Id, result.StatusCode);
        }

        await LoadData();
    }

    private void FillFromTemplate(Guid id)
    {
        logger.LogInformation("Filling check list {Id}", id);

        NavigationManager.NavigateTo($"/createCheckListTemplate/{id}?isTemplate=false&isNewCopy=true&fromTemplate=true", false);
    }
}
