﻿<MudNavMenu>
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
    <MudNavLink Href="listCheckListTemplates" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Outlined.Checklist">Check List Templates</MudNavLink>
    <MudNavLink Href="listFilledCheckLists" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Outlined.CheckBox">Filled Check Lists</MudNavLink>
</MudNavMenu>
